.grid1 {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:400px 400px;
    background-color: rgb(196, 194, 194);
    /*padding: 32px 24px 32px 24px;*/
    color: rgb(61, 60, 60)
  }


.text1 {
    padding-left: 48px;
    
}
.grid1 img {
    height: 100%;
    width: 100%;
    padding: 32px 24px;

    
}
.but {
    background-color: darkgrey;
    padding: 10px 50px;
    width: 200px;
    color: white;


}

.grid2 {
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:60% 40%;
    background-color: rgb(255, 255, 255);
    /*padding: 32px 24px 32px 24px;*/
    color: rgb(61, 60, 60)
  }
.main-info img {
    height: 65%;
    width: 100%;
    padding: 16px 24px;    
    }
.sm1 img , .sm2 img, .sm3 img{
    height: auto;
    width: 100%;
    padding: 10px 10px; 
}

.orient {
    padding-left:24px;
}
.main-info{
    grid-row: 1/4;
  
  }

.sm1, .sm2, .sm3{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns:35% 65%;

}